<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net45" />
  <package id="LiteDB" version="4.1.4" targetFramework="net45" />
  <package id="SQLite.CodeFirst" version="1.5.2.28" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net45" />
</packages>